<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand">IPL</a>
        </li>
        <li class="nav-item">
            <a routerLink="/player" class="nav-link">Player Statistics</a>
        </li>
        <li class="nav-item">
            <a routerLink="/team" class="nav-link">Team Statistics</a>
        </li>
        <li class="nav-item">
            <a routerLink="/bidding" class="nav-link">Bidding Statistics</a>
        </li>
        <li class="float-right" style="margin-left: 86rem;">
            <button (click)="clickEvent()" class="btn-primary btn-sm">Logout</button>
        </li>
    </ul>

</nav>
<div class="row container-fluid mt-3">
    <div class="col-lg-6">
        <div *ngFor="let player of maxplayers">
            <div class="text-primary">
                <h2>
                    Maximum Paid {{player._id}}
                </h2>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Label</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody *ngFor="let p of player.maxplayers;let i =index">
                    <td>{{p.Name}}</td>
                    <td>{{p.Role}}</td>
                    <td>{{p.Label}}</td>
                    <td><i class="fas fa-rupee-sign"></i>&nbsp;{{p.Amount | number:'1.0':'en'}}</td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="text-primary">
            <h2>
                Players Sorted by Price
            </h2>
        </div>
        <table mat-table [dataSource]="datasource | slice: lowValue : highValue" class="mat-elevation-z8">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef class="w-30"> Name </th>
                <td mat-cell *matCellDef="let element" class="w-30"> {{element.Name}} </td>
            </ng-container>
            <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef class="w-30"> Role </th>
                <td mat-cell *matCellDef="let element" class="w-30"> {{element.Role}} </td>
            </ng-container>
            <ng-container matColumnDef="Label">
                <th mat-header-cell *matHeaderCellDef class="w-30"> Label </th>
                <td mat-cell *matCellDef="let element" class="w-30"> {{element.Label}} </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef class="w-30"> Price </th>
                <td mat-cell *matCellDef="let element" class="w-30"><i class="fas fa-rupee-sign"></i> {{element.Amount | number:'1.0':'en'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="playerscolumns"></tr>
            <tr mat-row *matRowDef="let row; columns: playerscolumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" [length]="datasource.length" (page)="getPaginatorData($event)" showFirstLastButtons="false" [pageSize]="rowsOnPage"></mat-paginator>
    </div>
</div>